* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%; /* Ensure body takes the full height of the viewport */
    display:flex;
    flex-direction: column;
}

body {
    font-family: 'Poppins', sans-serif;
    color: #fcfcfc;
    background-color: #00215f;
    flex: 1; /* Allow the body to expand and fill available space */
}

/* Navbar */
header {
    position: relative;
    z-index: 1;
    background-color: #003080; /* Dark blue for navbar background */
    color: #fff;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 5%;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Shadow to separate from hero */
}

.nav-left {
    display: flex;
    align-items: center;
}

.nav-left .logo {
    font-size: 1.8rem;
    color: #fff;
    font-weight: 600;
    margin-right: 30px;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-left: 20px;
}

.nav-links li a {
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
    transition: color 0.3s, font-size 0.3s;
}

.nav-links li a:hover {
    color: #ff5733; /* Orange on hover */
    font-size: 1.2rem;
}

.nav-right {
    display: flex;
    align-items: center;
}

.btn-nav {
    margin-left: 20px;
    padding: 8px 16px;
    background-color: #1e2168;
    color: #fff;
    border-radius: 5px;
    text-decoration: none;
    font-size: 0.9rem;
    transition: 0.3s;
}

.btn-nav.signup {
    background-color: #03a9f4; /* Light blue for sign-up */
}

.btn-nav:hover {
    background-color: #ff5733; /* Orange for hover */
    color: #fff;
}

  nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    background-color: rgb(9, 9, 49);
  }
  
  nav ul {
    display: flex;
    justify-content: center;
  }
  
  nav ul li {
    list-style: none;
    margin: 0 23px;
  }
  
  nav ul li a {
    text-decoration: none;
    color: white;
  }
  
  nav ul li a:hover {
    color: rgb(103, 103, 228);
    font-size: 1.2rem;
  }
  
  .left {
    font-size: 1.5rem;
  }
  
  .page-content {
    font-size: xx-large;
    position: relative;
    text-align: center;
    margin: 0px;
  }
  
  .container {
    top: 100px;
    left: 100px;
  }
  
  .form {
    background-color: rgb(9, 9, 49);
    border-radius: 50px;
    margin-top: -40px;
    box-shadow: 0px 4px 8px rgb(255, 255, 255);
    height: 500px;
    width: 650px;
    text-align: center;
    position: relative;
    left: 750px;
    top: -400px;
  }
  
  h1 {
    position: relative;
    top: 20px;
  }
  
  .wrap-input-1 .input:focus {
    outline: none;
  }
  
  .wrap-input-1 {
    width: 50%;
    height: 10px;
    margin: 40px 3%;
    position: relative;
    margin-left: 150px;
  }
  
  .wrap-input-1 .input {
    border: 0;
    padding: 7px 0;
    border-bottom: 1px solid #ccc;
    width: 100%;
    margin-top: 10px;
    height: 45px;
    box-sizing: border-box;
    letter-spacing: 1px;
    background-color: #f5f6fd;
  }
  
  .wrap-input-1 .input~.focus-border {
    position: absolute;
    bottom: -45px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: aqua;
    transition: 0.4s;
  }
  
  .wrap-input-1 .input:focus~.focus-border {
    width: 100%;
    transition: 0.4s;
  }
  
  .wrap-input-2 .input:focus {
    outline: none;
  }
  
  .wrap-input-2 {
    width: 50%;
    height: 10px;
    margin: 40px 3%;
    position: relative;
    margin-left: 150px;
  }
  
  .wrap-input-2 .input {
    border: 0;
    padding: 7px 0;
    border-bottom: 1px solid #ccc;
    width: 100%;
    height: 45px;
    box-sizing: border-box;
    letter-spacing: 1px;
    background-color: #f5f6fd;
    margin-top: 25px;
  }
  
  .wrap-input-2 .input~.focus-border {
    position: absolute;
    bottom: -60px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: aqua;
    transition: 0.4s;
  }
  
  .wrap-input-2 .input:focus~.focus-border {
    width: 100%;
    transition: 0.4s;
  }
  
  .wrap-input-3 .input:focus {
    outline: none;
  }
  
  .wrap-input-3 {
    width: 50%;
    height: 10px;
    margin: 40px 3%;
    position: relative;
    margin-left: 150px;
  }
  
  .wrap-input-3 .input {
    border: 0;
    padding: 7px 0;
    border-bottom: 1px solid #ccc;
    width: 100%;
    height: 45px;
    box-sizing: border-box;
    letter-spacing: 1px;
    background-color: #f5f6fd;
    margin-top: 35px;
  }
  
  .wrap-input-3 .input~.focus-border {
    position: absolute;
    bottom: -70px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: aqua;
    transition: 0.4s;
  }
  
  .wrap-input-3 .input:focus~.focus-border {
    width: 100%;
    transition: 0.4s;
  }
  
  .wrap-input-4 .input:focus {
    outline: none;
  }
  
  .wrap-input-4 {
    width: 50%;
    height: 10px;
    margin: 40px 3%;
    position: relative;
    margin-left: 150px;
  }
  
  .wrap-input-4 .input {
    border: 0;
    padding: 7px 0;
    border-bottom: 1px solid #ccc;
    width: 100%;
    height: 90px;
    box-sizing: border-box;
    letter-spacing: 1px;
    background-color:
      #f5f6fd;
    margin-top: 50px;
  }
  
  .wrap-input-4 .input~.focus-border {
    position: absolute;
    bottom: -130px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: aqua;
    transition: 0.4s;
  }
  
  .wrap-input-4 .input:focus~.focus-border {
    width: 100%;
    transition: 0.4s;
  }
  
  .btn-3,
  .btn-3 *,
  .btn-3 :after,
  .btn-3 :before,
  .btn-3:after,
  .btn-3:before {
    border: 0 solid;
    box-sizing: border-box;
  }
  
  .btn-3 {
    -webkit-tap-highlight-color:
      transparent;
    -webkit-appearance: button;
    background-color:
      black;
    background-image: none;
    color:
      #fff;
    cursor: pointer;
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
      Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
      Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    font-size: 100%;
    font-weight: 900;
    line-height: 1.5;
    margin: 0;
    -webkit-mask-image: -webkit-radial-gradient(#000, #fff);
    padding: 0;
    text-transform: uppercase;
    margin-top: 70px;
  }
  
  .btn-3:disabled {
    cursor: default;
  }
  
  .btn-3:-moz-focusring {
    outline: auto;
  }
  
  .btn-3 svg {
    display: block;
    vertical-align: middle;
  }
  
  .btn-3 [hidden] {
    display: none;
  }
  
  .btn-3 {
    border-radius: 99rem;
    border-width: 2px;
    overflow: hidden;
    padding: 0.8rem 3rem;
    position: relative;
  }
  
  .btn-3 span {
    mix-blend-mode: difference;
  }
  
  .btn-3:before {
    background:
      #fff;
    content: "";
    inset: 0;
    position: absolute;
    transform: translateY(var(--progress, -100%));
    transition: transform 0.2s ease;
  }
  
  .btn-3:hover:before {
    --progress: 0;
  }
  
  /* CSS For Small Screens */
  @media only screen and (max-width: 600px) {
    nav {
      display: flex;
      justify-content: space-around;
      align-items: center;
      height: 70px;
      background-color: rgb(9, 9, 49);
    }
  
    nav ul {
      display: flex;
      justify-content: center;
    }
  
    nav ul li {
      list-style: none;
      margin: 0 10px;
      text-align: center;
    }
  
    nav ul li a {
      text-decoration: none;
      color: white;
    }
  
    .left {
      position: relative;
      font-size: 1.1rem;
      left: 10px;
    }
  
    .right {
      font-size: 15px;
      font-weight: 500;
    }
  
    .page-content {
      font-size: larger;
      position: relative;
      text-align: center;
      margin: 10px;
    }
  
  }
